thead tr th{
    background-color: #7a1212 !important;
    color: white !important;
}

tbody tr{
    cursor: pointer;
    border: none !important;
}

tbody tr td{
    border-bottom: none !important;
}