#homepage {
  display: flex;
  flex-direction: column;
  width: 100%;
  min-height: 100vh;
  margin-top: 0 !important;
  align-items: center;
  justify-content: center;
}

#homepage a {
  position: absolute;
  margin: 0 auto;
  bottom: 2rem;
}